.text-center{
    text-align: center;
}
.input-box-container{
    width: 350px;
    padding: 3px 2px;
    height: 30px;
    border-radius: 10px;
    border: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    outline:none;
}
.btn{
    padding: 5px ;
    width: 90px;
    background-color: black;
    color: aliceblue;
    border-radius: 20px;
    border: none;
}
body{
    font-size: 17px;
    margin: 0;
    padding: 0;
}