.product-image{
    height: 250px;
    width: 100% ;
   object-fit: contain;
   background-color: white;
   padding-top: 10px;
}
.product-card-flex-container{
padding: 5px;
box-shadow: 0 0px 10px 1px rgb(107, 106, 106);
width: 350px;
margin: 10px;
}
.product-name{
    text-align: center;
    font-weight: 200px;
    overflow-x: hidden;
    overflow-y: hidden;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    
}
.product-description{
    margin-left: 10px;
    margin-right: 10px;
    text-align: justify;
}
.product-price{
    text-align: center;
    font-weight: bold;
    color: red;
}
.btn-buy-now{
    display: block;
    margin: 10px auto;
    width: 80%;
    height: 30px;
    border-radius: 30px;
   background-color: black;
   color: white;
  text-align: center;
  text-decoration: none;
  padding-top: 6px;
}
